/*
 * Solution by GetTemplates.co
 * URL: https://GetTemplates.co
 */
@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-Black";
  src: url(../fonts/Lato-Black.ttf);
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato-Medium";
  src: url(../fonts/Lato-Medium.ttf);
}
@font-face {
  font-family: "Lato-Semibold";
  src: url(../fonts/Lato-Semibold.ttf);
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-Semibold";
  src: url(../fonts/OpenSans-Semibold.ttf);
}
p {
  font-family: "OpenSans-Regular";
  color: #666666;
  font-size: 18px;
}

body {
  overflow: hidden;
  overflow-y: auto;
  font-family: "OpenSans-Regular";
}

@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}
#main-nav {
  padding: 20px 0;
}
#main-nav .navbar-brand {
  font-size: 36px;
  font-family: "Lato-Black";
  text-transform: uppercase;
  background: -webkit-linear-gradient(left, #890b7c, #e907dc);
  background: -ms-linear-gradient(left, #890b7c, #e907dc);
  background: -moz-linear-gradient(left, #890b7c, #e907dc);
  background: -o-linear-gradient(left, #890b7c, #e907dc);
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}
#main-nav .bar1, #main-nav .bar2, #main-nav .bar3 {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
  display: block;
  position: relative;
}
#main-nav .change .bar1 {
  -webkit-transform: rotate(-42deg) translate(-2px, 6px);
  transform: rotate(-42deg) translate(-2px, 6px);
}
#main-nav .change .bar2 {
  opacity: 0;
}
#main-nav .change .bar3 {
  -webkit-transform: rotate(46deg) translate(-4px, -8px);
  transform: rotate(46deg) translate(-4px, -8px);
}
#main-nav .navbar-nav li a {
  font-family: "OpenSans-Regular";
  font-size: 18px;
  color: #666666;
  padding: 5px 15px !important;
  text-transform: uppercase;
}
#main-nav form a {
  font-family: "OpenSans-Semibold";
  font-size: 18px;
  color: #fff;
  padding: 5px 25px;
  border-radius: 20px;
  border-width: 2px;
}
#main-nav form a.btn-info {
  background: #600d54;
  border-color: #600d54;
}
#main-nav form a.btn-outline-dark {
  border-color: #fff;
  background-color: transparent;
}
@media (max-width: 991px) {
  #main-nav form a.btn-outline-dark {
    border-color: #600d54;
    color: #600d54;
  }
}
#main-nav::after {
  position: absolute;
  content: "";
  height: 600px;
  width: 900px;
  background-image: -webkit-linear-gradient(-220deg, #6e0d62, #e307d6);
  background-image: -moz-linear-gradient(-220deg, #6e0d62, #e307d6);
  background-image: -ms-linear-gradient(-220deg, #6e0d62, #e307d6);
  background-image: -o-linear-gradient(-220deg, #6e0d62, #e307d6);
  background-image: linear-gradient(-220deg, #6e0d62, #e307d6);
  left: 49.5%;
  top: -50px;
  z-index: -1;
  border-radius: 50% 0 50% 50%;
}
@media (max-width: 1400px) {
  #main-nav::after {
    height: 550px;
    width: 800px;
  }
}
@media (max-width: 1199px) {
  #main-nav::after {
    width: 700px;
  }
}
@media (max-width: 991px) {
  #main-nav::after {
    width: 55%;
    left: auto;
    right: 0;
  }
}
@media (max-width: 600px) {
  #main-nav::after {
    width: 100%;
    height: 400px;
  }
}
#main-nav::before {
  position: absolute;
  content: "";
  height: 590px;
  width: 930px;
  background-image: -webkit-linear-gradient(to right, #e8eefc, #610d55);
  background-image: -moz-linear-gradient(to right, #e8eefc, #610d55);
  background-image: -ms-linear-gradient(to right, #e8eefc, #610d55);
  background-image: -o-linear-gradient(to right, #e8eefc, #610d55);
  background-image: linear-gradient(to right, #e8eefc, #610d55);
  left: 47.5%;
  top: -25px;
  z-index: -1;
  border-radius: 50% 0 50% 50%;
}
@media (max-width: 1400px) {
  #main-nav::before {
    height: 540px;
    width: 810px;
  }
}
@media (max-width: 1199px) {
  #main-nav::before {
    width: 710px;
  }
}
@media (max-width: 991px) {
  #main-nav::before {
    width: 55%;
    left: auto;
    right: 0;
  }
}
@media (max-width: 600px) {
  #main-nav::before {
    width: 100%;
    height: 390px;
  }
}

.banner-area a, .feature a, .features a, .news .owl-carousel .card a, #footer .submit-button {
  background-image: -moz-linear-gradient(0deg, #f906ec 0%, #3b0f30 100%);
  background-image: -webkit-linear-gradient(0deg, #f906ec 0%, #3b0f30 100%);
  background-image: -ms-linear-gradient(0deg, #f906ec 0%, #3b0f30 100%);
  font-size: 18px;
  font-family: "OpenSans-Semibold";
  color: #fff;
  border-radius: 50px;
  padding: 5px 30px;
  display: inline-block;
  text-transform: uppercase;
  padding-right: 5px;
  text-decoration: none !important;
}
.banner-area a .fa, .feature a .fa, .features a .fa, .news .owl-carousel .card a .fa, #footer .submit-button .fa {
  background: #fff;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  color: #610d55;
  font-size: 22px;
  text-align: center;
  padding-top: 5px;
  margin-left: 15px;
}

.feature h2, .features h2 {
  font-family: "Lato-Regular";
  color: #000000;
  font-size: 36px;
  margin-bottom: 30px;
}

.card {
  border: none;
  background: transparent;
}

.banner-area {
  margin-top: 20px;
  min-height: 500px;
}
.banner-area h1 {
  font-family: "Lato-Light";
  font-size: 48px;
  color: #000000;
  max-width: 500px;
  margin-top: 70px;
}
.banner-area h1 span {
  font-family: "Lato-Medium";
}
@media (max-width: 1199px) {
  .banner-area h1 {
    margin-top: 30px;
  }
}
.banner-area p {
  max-width: 450px;
  margin: 20px 0;
  margin-bottom: 40px;
}
.banner-area a {
  display: inline;
  padding: 10px 30px;
  padding-right: 5px;
}
.banner-area .col-md-6 .card .card-img-top {
  max-width: 430px;
  margin: 0 auto;
  margin-top: 30px;
  margin-right: 0;
}
@media (max-width: 1400px) {
  .banner-area .col-md-6 .card .card-img-top {
    max-width: 400px;
    margin-top: 20px;
    margin-right: auto;
  }
}
@media (max-width: 1199px) {
  .banner-area .col-md-6 .card .card-img-top {
    max-width: 350px;
  }
}
@media (max-width: 767px) {
  .banner-area .col-md-6 .card .card-img-top {
    margin-top: 100px;
  }
}

.feature {
  margin-top: 100px;
}
.feature .card .back-bg {
  margin-left: -30px !important;
  margin-top: -20px;
}
.feature .card svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.feature .card svg.defs {
  position: absolute;
  width: 0;
  height: 0;
}
.feature .card .squircle {
  width: 100%;
  height: 450px;
  background: url(../images/learn-img.jpg) center/cover, #aaa;
  clip-path: url(#clip-path);
  background-position-x: -50px;
}
.feature p small {
  font-size: 16px;
}
.feature a {
  margin-top: 20px;
  display: inline-block;
}

.features {
  margin-top: 100px;
}
.features svg {
  position: absolute;
  margin-left: -100px;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .features svg {
    margin: 0 auto;
    margin-top: 200px;
  }
}
.features h2 {
  margin-top: 200px;
}
@media (max-width: 991px) {
  .features h2 {
    margin-top: 0;
  }
}
.features .col-lg-4 p {
  max-width: 320px;
  margin-bottom: 30px;
}
.features .col-lg-8 {
  padding: 10px 100px;
}
@media (max-width: 767px) {
  .features .col-lg-8 {
    padding: 10px 0;
  }
}
.features .col-lg-8 .row .col:first-child {
  margin-top: 150px;
}
@media (max-width: 600px) {
  .features .col-lg-8 .row .col:first-child {
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  .features .col-lg-8 .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.features .col-lg-8 .card {
  background: #fff;
  margin: 30px 5px;
  padding: 20px 10px;
  border-radius: 20px;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.08);
}
.features .col-lg-8 .card .oval {
  background: linear-gradient(to right, #f1f6fd, #f0fbfe);
  padding: 10px;
  width: 150px;
  border-radius: 50%;
  margin: auto;
  transform: rotate(20deg);
  margin-top: 20px;
}
.features .col-lg-8 .card .card-img-top {
  max-width: 0.8in;
  margin: 0 auto;
  transform: rotate(-20deg);
}
.features .col-lg-8 .card h3 {
  font-family: "Lato-Regular";
  font-size: 24px;
  color: #600d54;
}
.features .col-lg-8 .card p {
  font-size: 16px;
}

.numbers-block {
  margin: 100px auto;
  margin-top: 200px;
  color: #fff;
}
@media (max-width: 600px) {
  .numbers-block {
    margin-top: 100px;
  }
}
@media (max-width: 1299px) {
  .numbers-block .row {
    max-width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .numbers-block .row .col-3 {
    padding: 0;
  }
}
.numbers-block #custom-map::before {
  position: absolute;
  content: "";
  height: 100px;
  width: 100%;
  border: 2px solid red;
}
.numbers-block svg {
  margin-top: -100px;
  position: absolute;
  left: 0;
  max-width: 1500px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1299px) {
  .numbers-block svg {
    margin-top: -90px;
  }
}
@media (max-width: 1199px) {
  .numbers-block svg {
    margin-top: -60px;
  }
}
@media (max-width: 991px) {
  .numbers-block svg {
    margin-top: -40px;
  }
}
@media (max-width: 650px) {
  .numbers-block svg {
    margin-top: -20px;
  }
}
@media (max-width: 600px) {
  .numbers-block svg {
    margin-top: -10px;
  }
}
.numbers-block h5 {
  font-family: "Lato-Bold";
  font-size: 60px;
}
@media (max-width: 1299px) {
  .numbers-block h5 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .numbers-block h5 {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .numbers-block h5 {
    margin: 0;
    font-size: 18px;
  }
}
.numbers-block p {
  font-family: "Lato-Semibold";
  font-size: 24px;
  color: #fff;
}
@media (max-width: 1299px) {
  .numbers-block p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .numbers-block p {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .numbers-block p {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .numbers-block p {
    line-height: 1.1;
  }
}
@media (max-width: 500px) {
  .numbers-block p {
    font-size: 8px;
  }
}

.testimonials {
  position: relative;
  margin-top: 200px;
}
@media (max-width: 767px) {
  .testimonials {
    margin-top: 100px;
  }
}
.testimonials h2 {
  font-family: "Lato-Medium";
  font-size: 36px;
  text-align: center;
  color: #333333;
  margin-bottom: 100px;
}
.testimonials .owl-stage-outer {
  padding-bottom: 30px;
}
.testimonials .owl-nav {
  display: none;
}
.testimonials .owl-dots {
  text-align: center;
}
.testimonials .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #600d54;
  margin: 0 5px;
}
.testimonials .owl-dots .active {
  box-shadow: none;
}
.testimonials .owl-dots .active span {
  background: #600d54;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}
.testimonials .card {
  background: #fff;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.08);
  margin: 0 30px;
  padding: 0 20px;
  border-radius: 50px;
}
.testimonials .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid #600d54;
  width: 100px;
  height: 100px;
}
.testimonials .card h5 {
  color: #600d54;
  font-size: 21px;
  line-height: 1.3;
  font-family: "Lato-Medium";
}
.testimonials .card h5 span {
  font-size: 18px;
  color: #666666;
  font-family: "OpenSans-Regular";
}
.testimonials .card p {
  font-size: 18px;
}
.testimonials .active {
  opacity: 0.5;
  transition: all 0.3s;
}
.testimonials .center {
  opacity: 1;
}
.testimonials .center h5 {
  font-size: 24px;
}
.testimonials .center h5 span {
  font-size: 20px;
}
.testimonials .center p {
  font-size: 20px;
}
.testimonials .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}

.features-list {
  margin-top: 100px;
}
.features-list .media {
  margin: 20px 0;
}
.features-list .oval {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  height: 60px;
  width: 60px;
}
.features-list .oval .align-self-start {
  width: 100%;
  padding: 3px;
}
.features-list .media-body {
  font-family: "OpenSans-Regular";
  font-size: 16px;
  color: #666666;
  padding-right: 20px;
}
.features-list .media-body h5 {
  font-family: "Lato-Semibold";
  margin-bottom: 20px !important;
  font-size: 22px;
}

.logo-area {
  margin: 50px auto;
}
.logo-area .col .img-fluid {
  max-height: 32px;
}
@media (max-width: 600px) {
  .logo-area .col {
    flex: 0 0 50%;
    max-width: 50%;
    margin: 20px 0;
  }
}

.news {
  background: #fcfcfc;
  padding: 50px 0;
  margin: 100px auto;
}
.news h2 {
  font-size: 36px;
  font-weight: "Lato-Medium";
  text-align: center;
  margin-bottom: 50px;
}
.news .owl-carousel .owl-nav {
  display: block !important;
  position: absolute;
  top: 25%;
  width: 100%;
}
@media (max-width: 600px) {
  .news .owl-carousel .owl-nav {
    display: none !important;
  }
}
.news .owl-carousel .owl-nav .owl-prev, .news .owl-carousel .owl-nav .owl-next {
  font-size: 120px;
  color: #666666;
  position: absolute;
}
.news .owl-carousel .owl-nav .owl-prev {
  left: -50px;
}
.news .owl-carousel .owl-nav .owl-next {
  right: -50px;
}
.news .owl-carousel .card {
  padding: 0 25px;
}
.news .owl-carousel .card .card-img-top {
  border-radius: 40px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
}
.news .owl-carousel .card h5 {
  font-family: "Lato-Medium";
  font-size: 22px;
  color: #333333;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .news .owl-carousel .card h5 {
    font-size: 18px;
  }
}
.news .owl-carousel .card p {
  font-size: 17px;
}
@media (max-width: 767px) {
  .news .owl-carousel .card p {
    font-size: 15px;
  }
}
.news .owl-carousel .card a {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

#footer {
  padding-bottom: 20px;
}
#footer h4 {
  font-family: "Lato-Medium";
  font-size: 24px;
  color: #600d54;
  margin-bottom: 30px;
}
#footer input, #footer textarea {
  background-color: white;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
  border-radius: 50px;
  max-width: 450px;
  width: 100%;
  height: 60px;
  border: none;
  margin-bottom: 30px;
  padding-left: 30px;
  color: #000;
}
#footer input::-webkit-input-placeholder, #footer input::-moz-placeholder, #footer input:-ms-input-placeholder, #footer input:-moz-placeholder, #footer textarea::-webkit-input-placeholder, #footer textarea::-moz-placeholder, #footer textarea:-ms-input-placeholder, #footer textarea:-moz-placeholder {
  color: #999999;
  font-family: "OpenSans-Regular";
  font-size: 18px;
}
#footer textarea {
  min-height: 200px;
  border-radius: 30px;
  padding-top: 20px;
  padding-right: 20px;
  resize: none;
}
#footer .company-nav, #footer .services-nav {
  font-family: "OpenSans-Regular";
  font-size: 20px;
}
#footer .company-nav a, #footer .services-nav a {
  color: #666666;
  margin: 0;
  padding: 0;
}
#footer .follow-us-nav a {
  padding: 0 10px;
  color: #666666;
}
@media (max-width: 385px) {
  #footer .follow-us-nav a {
    padding-right: 0;
  }
}
#footer .follow-us-nav a .fa {
  font-size: 24px;
}
#footer .col-12 {
  margin-top: 90px;
}
#footer .col-12 p {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #999999;
}
@media (max-width: 991px) {
  #footer .col-12 {
    margin-top: 20px;
  }
}
@media (max-width: 991px) {
  #footer .col-lg-6 {
    margin-bottom: 50px;
  }
}
